p {
  font-size: 20px;
  font-weight: 700;
}

.App {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.question {
  text-align: center;
  padding: 30px;
}

.variants {
  display: flex;
  flex-direction: column;
  
}

.variant {
  margin-bottom: 10px;
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
}

.title {
  font-weight: 900;
}

.score {
  display: flex;
}

.restart{
  margin: 10px;
}